.account-container {
    display: flex;
    margin: 100px;
    gap: 42px;
}

.col-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 20px 0;
    width: 24.38%;
    min-height: 566px;
    background-color: #eff0f2;
}


.account-avatar {
    width: 163px;
    height: 163px;
    border-radius: 50%;
}

.upload {
    margin-top: -30px;
    font-size: 16px;
    font-weight: 600;
    color: var(--secondBlack);
}

.account-verification__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 25px;
}

.account-verification {
    font-size: 18px;
    font-weight: 700;
    color: var(--secondBlack);
}

.account-verification__desc {
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
}

.account-status__container {
    align-self: flex-start;
    margin-left: 25px;
}

.account-status {
    font-size: 22px;
    font-weight: 700;
    color: var(--secondBlack);
    margin-bottom: 20px;
}

.email-status,
.mobile-status {
    font-size: 15px;
    font-weight: 500;
    color: #9a9a9a;
}
/* col-right */
.col-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    min-height: 566px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.account-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.account-regis-date {
    font-size: 14px;
    font-weight: 500;
    color: #9a9a9a;
}

.account-review {
    position: relative;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 400;
}

.account-review::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: -30px;
    background-color: #e0e2e6;
}

.reviewed-by {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    color: var(--secondBlack);
    text-decoration: underline;
}

/* form */

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c2c6cc;
    border-radius: 8px;
    margin: 10px 0;
}

.button {
    width: 100px;
    padding: 10px;
    border-radius: 28px;
    margin-left: 10px;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
}

.form-desc {
    font-size: 15px;
    font-weight: 600;
    color: #9a9a9a;
}