@import url('http://fonts.cdnfonts.com/css/circular-std');
@import url('http://fonts.cdnfonts.com/css/allison-script');


:root {
    --white: #fff;
    --black:#000;
    --primary: #00a77f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-rendering: optimizeSpeed;
}

button,input,[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: #333;
    text-decoration: none;
}