@media (min-width: 800px) {
    .wrapper {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
    }
    nav {
        padding: 15px 10px;
    }
    aside {
        align-self: start;
    }
    main {
        background-color: #cccccc;
        height: 100vh;
    }
    .header {
        text-transform: capitalize;
        text-align: left;
    }
    .table-container {
        display: flex !important ;
        justify-content: center;
    }
    table {
        width: 95%;
        background-color: white;
        font-family: Mulish; /* install --- npm install @fontsource/mulish */
        border-collapse: collapse;
    }
    th,
    td {
        border-bottom: 1px solid #ddd;
        padding: 18px;
        text-align: left;
    }
    th {
        color: #9fa2b4;
    }
    .customer:hover {
        background-color: #c5c1c1;
    }
}
