* {
    font-family: Mulish; /* install --- npm install @fontsource/mulish */
}
@media (min-width: 800px) {
    .wrapper {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
    }
    nav {
        padding: 15px 10px;
    }
    h1 {
        font-size: 24px;
        font-weight: bold;
    }
    aside {
        align-self: start;
    }
    main {
        background-color: #e7e9eb;
        height: 100vh;
    }
    .header {
        text-transform: capitalize;
        text-align: left;
    }
    .table-container {
        display: flex !important ;
        justify-content: center;
    }
    table {
        width: 95%;
        background-color: white;
        border-collapse: collapse;
    }
    th,
    td {
        border-bottom: 1px solid #ddd;
        padding: 18px;
        text-align: left;
    }
    th {
        color: #9fa2b4;
        font-weight: bold;
        font-size: 16px;
    }
    td {
        font-size: 14px;
    }
    .customer:hover {
        background-color: #8394fc;
    }
    .sub_infor {
        color: #c5c7cd;
        font-size: 12px;
    }
    .sub_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        color: #9fa2b4;
        background-color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .icon {
        height: 1.5em;
        width: 1.5em;
        padding: 3px;
        margin-right: 7px;
    }
}
