
.subnav-wrapper__checkout {
    padding-left: 70px;
}

.subnav-list__items{
    display: flex;
}

.subnav__item{
    display: inline-block;
    padding-right: 40px;
    font-weight: 700;
}

.subnav__item:last-child {
    padding: 0;
}

.subnav__item--link {
    position: relative;
    font-size: 14px;
}

.subnav__item--link:after {
    content: '';
    position: absolute;
    background-color: var(--primary);
    width: 0;
    height: 0;
    border-radius: 50%;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,0);
    transition: .2s ease-in;
}

.active .subnav__item--link:after{
    width: 10px;
    height: 10px;
}

.subnav__item.active  .subnav__item--link{
    color: var(--primary);
}
