.top-wishlists {
    margin: 0 70px;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wishlists-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    grid-auto-rows: 300px ;
    
}