.login {
    position: relative;
    min-height: 100vh;
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.login__top {
    position: relative;
    align-self: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    width: 100%;
}

.login__top::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #e0e2e6;
}

.close-icon__container {
    font-size: 20px;
}

.login-form {
    width: 50%;
}

.input-container {
    display: flex;
    width: 100%;
    height: 60px;
}

.phonenumber {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    border: 1px solid #333;
    border-radius: 30px;
}

.profile-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile-information {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.profile-notyou {
    font-size: 13px;
    color: #9a9a9a;
    font-weight: 600;
}

.password {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    border: 1px solid #333;
    border-radius: 30px;
}

.login-note {
    font-size: 12px;
    font-weight: 500;
    color: #9a9a9a;
    margin-top: 19px;
}

.button-container {
    display: flex;
    margin-top: 19px;
}

.button-email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 15px;
    width: 60%;
    font-weight: 400;
    font-size: 14px;
} 

.mail-icon {
    font-size: 18px;
}

.login1-alt {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    color: #9a9a9a;
    margin-left: 14%;
    width: 50%;
}

.login1-alt::before {
    position: absolute;
    top: 50%;
    left: -70px;
    transform: translateY(-50%);
    content: "";
    height: 1px;
    width: calc(100% - 90%);
    background-color: #e0e2e6;
}

.login1-alt::after {
    position: absolute;
    top: 50%;
    right: 65px;
    transform: translateY(-50%);
    content: "";
    height: 1px;
    width: calc(100% - 30%);
    background-color: #e0e2e6;
}

.alt-button__container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: -20px;
}

.disabled:disabled {
    cursor: default;    
}