.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    min-width: 100px;
    padding: 9px 16px;
    color: var(--white);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
}

.wrapper:active {
    background-color: var(--black);
    color: var(--white);
}



.primary {
    background-color: var(--black);
    width: 220px;
    height: 60px;
}

.secondary {
    background-color: #484848;
    width: 220px;
    height: 60px;
}

.third {
    background-color: #E0E2E6;
    border-radius: 6px;
    color: #484848;
    padding: 17px 39px;
    font-size: 15px;
    font-weight: 600;
}

.fourth {
    width: 40%;
    background-color: #9a9a9a;
    padding: 20px 0;
    border-radius: 35px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

.icon + .title, .title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.rounded {
    border-radius: 30px;
}

.transparent {
    background-color: transparent;
    color: #484848;
    font-size: 15px;
    font-weight: 700;
}

.medium {
    width: 160px;
    background-color: #e8eaec;
    color: #484848;
}

.outline {
    border: 1px solid #484848;
    width: 150px;
}