
.top-destinations {
    position: relative;
    background: linear-gradient(to bottom,
    rgba(0,190,172,1),
    rgba(0,190,172,0));

}

.top-destinations__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 250px 200px 0 200px;

}

.top-destinations__top {
    position: absolute;
    left: 45%;
    top: 90px;
    color: rgba(251, 231, 126, 1);
    font-family: var(--font-allision);
    font-weight: 400;
    font-size: 200px;

}

.top-destinations__dest {
    color: rgba(255, 255, 255, 1);
    text-transform: lowercase;
    font-size: 80px;

    
}

.top-destinations__desc {

    color: #ffffff;
    font-weight: 400;
    line-height: 32px;
    font-size: 26px;
    text-align: center;
    opacity: 0.4;
    margin-top: 60px;
}

.top-destinations-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
}

.top-destinations-item {
    position: relative;
    height: 70vh;
    flex-basis: 20%;
    position: relative;
    transition: .5s ease-out;
}

/* .top-destinations-item:hover {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
} */

.front,.back {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.back {
    background-color: var(--white);
    transform: rotateY(180deg);
}

.top-destinations-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}





.top-destinations-info {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
}

.top-destinations-state {
    text-align: center;

    font-size: 16px;
    font-weight: 700;
}

